<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">







<div>


    <div>
        <div>
            <label> Username</label>
            <input type="text" [(ngModel)]="username" placeholder="username">
           </div>
    <input name="pass" [(ngModel)]="password" type="password" class="form-control" placeholder="Password">
    <button (click)="loginFunction(username,password)">
        Login</button>
    </div>

</div>

